body {
  background-color: #566f8b;
}

.container {
  display: flex;
  justify-content: center;
}

.app {
  background-color: #dfded9;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

.crossed {
  text-decoration: line-through 2px #fdcd03;
}

ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #26415f;
  margin: 0;
  padding: 7px;
}

.btn {
  padding: 5px;
  border: none;
  width: 70%;
  background-color: #344f6e;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.add {
  margin-top: 5px;
}

.delete {
  color: #fdcd03;
}

input {
  padding: 8px;
  margin: 10px;
  border-radius: 8px;
  border-color: #566f8b;
  font-family: 'Poppins', sans-serif;
  flex: 1;
}

::-webkit-input-placeholder {
  color: #165fb9;
}

